.about {
  padding: 45px 35px 10px 35px;
}

.about-the-frames {
  border: 1px solid #8e8e8e;
  border-radius: 25px;
  font-family: "Mukta", sans-serif;
  position: relative;
  height: calc(77vh - 50px);
}

.about-the-frames > h1 {
  font-weight: bolder;
  position: absolute;
  top: -5.5%;
  left: 40%;
  background-color: white;
  padding: 0 15px;
}

.frame-left {
  float: left;
  width: 50%;
  padding: 180px 75px;
}

.frame-left > p {
  font-size: 20px;
  text-align: center;
  line-height: 1.7rem;
  font-weight: 500;
}

.frame-right {
  float: left;
  width: 50%;
  padding: 30px 25px;
}

.frame-right > h2 {
  text-align: center;
  padding-bottom: 15px;
}

.container {
  text-transform: uppercase;
  display: flex;
  padding-bottom: 25px;
}

.box {
  width: 50%;
  float: left;
  text-align: center;
  border: 1px solid #8e8e8e;
  padding: 12px 0;
}

.box > h3 {
  font-size: 20px;
  font-weight: bolder;
}

.box > p {
  font-size: 19px;
  font-weight: 500;
}

.frame-right > p,
.p-boder > p {
  text-align: center;
  color: #8e8e8e;
}

.p-boder {
  border: 1px solid lightgray;
  padding: 10px 0;
}

.p-boder > p:nth-child(2) {
  color: black;
  padding: 0 10px;
}

@media screen and (max-width: 768px) {
  .about {
    padding: 35px 15px 10px 15px;
  }

  .about-the-frames {
    height: calc(80vh - 50px);
  }

  .about-the-frames > h1 {
    width: 50%;
    text-align: center;
    position: static;
    margin-top: -30px;
    margin-left: 80px;
    padding: 0 20px;
    font-size: 19px;
  }

  .frame-left {
    float: left;
    width: 100%;
    padding: 0 35px;
  }

  .frame-left > p {
    font-size: 20px;
  }

  .frame-right {
    float: left;
    width: 100%;
    padding: 10px 16px;
  }

  .container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .box {
    padding: 5px 0;
  }

  .box > h3,
  .box > p {
    font-size: 18px;
  }

  .frame-right > h2 {
    font-size: 20px;
  }

  .frame-right > .p-boder {
    display: none;
  }

  .frame-right > p {
    font-size: 11.5px;
    line-height: 1.4rem;
    padding-right: 12px;
    padding-left: 12px;
  }
}

@media screen and (max-width: 480px) {
  .about-the-frames > h1 {
    width: 50%;
    text-align: center;
    position: static;
    margin-top: -30px;
    margin-left: 90px;
    padding: 0 20px;
    font-size: 23px;
  }

  .about-the-frames {
    height: calc(105vh - 50px);
  }

  .frame-left > p {
    font-size: 16px;
  }

  .box > h3,
  .box > p {
    font-size: 14px;
  }

  .about-the-frames > h1 {
    margin-left: 80px;
    font-size: 18px;
  }
}